#adminContainer {
    width: 1300px;
    margin: 0 auto;
}

#adminSectionTitle h3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
}

#adminSectionTitle div {
    height: 4px;
    background-color: #910000;
    margin-top: 15px;
}

#adminContainer .tableAdmin table {
    margin-top: 25px;
    width: 100%;
    border-collapse: collapse;
}

#adminContainer .tableAdmin table thead {
    text-align: left;
}

#adminContainer .tableAdmin table thead tr th {
    padding-left: 20px;
    height: 30px;
}

#adminContainer .tableAdmin table tbody tr td {
    padding-left: 20px;
    height: 60px;
}

#adminContainer .styleit {
    border: 2px solid gray;
    border-radius: 25px;
    width: 1300px;
    height: 40px;
    position: absolute;
    margin-top: 10px;
    margin-left: -245px;
    z-index: -1;
}

#adminContainer .btnAction {
    border: 0;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #910000;
    font-weight: 600;
    margin-right: 30px;
}

.container-form-admin{
    background-color: white;
    padding: 20px;
    border: 3px solid gray;
}