.container{
    width: 100%;

}

.adminContainer{
    position: absolute;
    width: 900px;
    padding: 90px 200px;
    width: 80%;
}
.titleAdmin{
    position: relative;
    left:115px;
    width: 100%;
    padding: 10px;
}

.titleAdmin span{
    font-size: 20px;
    font-weight: bolder;
}

.hr{
    position: relative;
    /* left:0; */
    border-color: #910000;
    border-style:solid;
    width:100%;
    /* color: red; */
    line-height: 10px;
}

.tableAdmin{
    width:60%;
    left: 110px;
    position: relative;
    padding: 10px;
}

/* 
.heading span{
    padding: 30px;
}

.content span{
    padding-right: 30px;
  
}  */
 
table{
   
    position: relative;
    /* padding-top: 0px ;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 30px; */
    width: 100%;
    left: 20px;
    border-collapse: separate;
    border-spacing: 0 10px;
    /* table-layout: fixed; */
    /* border: none; */

}

thead{
    position: relative;
    /* text-align: left;
     */
     left: 10px;
    padding: 5px;
    width: 100%;
    padding-left: 5px;

}

tbody{
    /* padding: 5px;
    width: 100%; */
    position: relative;
    /* text-align: left;
     */
     left: 10px;
    padding: 5px;
    width: 100%;
    padding-left: 5px;
}

th{
    position: relative;
    width: 50%;
    padding: 10px;
    height: 15px;
    left: -8px;
    text-align: left
}
td span{
    font-weight: bolder;
    padding: 15px;
    color: #910000;
    padding-right: 10px;
}

tr{
    width: 50%;
    padding: 10px;
    height: 60px;
    background-color: #DCDCDC;
    border-radius: 20px;
    left: 10px;
 
} 
.pagination{
    padding: 10px;
    position: relative;
    right: 0;
}

.addAdmin{
    position: relative;
    right: 0px;
}

.container-form-admin{
    background-color: white;
    width: 400px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.form-admin{
    padding: 10px;
}

.form-admin input[type=email]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:18px;
    border-style: solid;
   color: black;
    background-color:white;
    opacity: 50%;
}
.form-admin input[type=text]{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:18px;
    border-style: solid;
    color: black;
    background-color:white;
    opacity: 50%;
}

::placeholder{
    color:black;
}

.addAdminBtn{
    position: relative;
    right: 10px;
}

.container-edit-admin{
    background-color: white;
    width: 400px;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    z-index: 999;
}

.edit-admin{
    padding: 10px;
}

.edit-admin input[type=email]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:18px;
    border-style: solid;
   color: black;
    background-color:white;
    opacity: 50%;
}
.edit-admin input[type=text]{
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius:18px;
    border-style: solid;
    color: black;
    background-color:white;
    opacity: 50%;
}
