.admin-content{
    padding-bottom: 30px;
}



.admin-manage{
    position: relative;
    top: 200px;
}

.news-manage{
    position: relative;
    top: 600px;
}

.footer{
    width: 100%;
    top: 1200px;
    bottom:0;
    position: absolute;
}